@media (max-width: 768px) {
  .nav ul {
    display: block;
    flex-direction: column;
    width: 100%;

    padding: 0;
    position: relative;

    /* right: -682px !important; */
    transition: right 0.5s ease-in;
  }
  .login {
    margin-top: 10px;
    padding: 10px;
    color: white;
    background-color: #555;
    border: none;
    width: 100%;
    text-align: left;
  }

  .nav-links {
    display: none;
  }
  .nav-toggle {
    display: block;
  }
  .leads-sec img {
    width: 100%;
  }
  .leads-sec .solution {
    width: 100%;
    padding-left: 44px;
    margin-top: 15px;
    order: 2;
  }
  .footer ul {
    flex-direction: column;
    gap: 10px;
    align-items: baseline;
  }
  .dashbard-container .left-sec {
    padding-left: 18px;
    margin: 0;
  }
  .left-sec .logo {
    gap: 5px;
  }
  .nav {
    margin-inline: 20px;
  }
  .dashbard-container .left-sec h1 {
    font-size: 37px;
  }
  .dashbard-container .left-sec p {
    font-size: 13px;
  }
  /* .vedio-para-img-div .form-div {
    padding: 22px 21px;
  } */
  .vedio-para-img-div .form-div {
    width: 100%;
    left: 20px;
  }
  .nav-login {
    margin-top: 25px;
    margin-left: -29px;
  }
  .dashbard-container {
    margin-top: 15px;
  }
  .nav .login {
    display: none;
  }
  .nav .login.show {
    display: block;
    width: fit-content;
    position: absolute;
    top: 179px;
    z-index: 1;
  }
  .nav ul li a {
    margin: 28px;
  }
  .nav h3 {
    display: block !important;
  }
  .nav {
    flex-direction: column;
    align-items: baseline;
  }
  .nav ul {
    padding: 0;
    position: absolute;
    transition: 0.3s;
    right: 100%;
  }
  /* .nav ul.show {
  } */
  .header-sec {
    overflow-x: hidden;
    width: 100vw;
  }
  .nav ul.show {
    height: 162px;
    background: #fff;
    position: fixed;
    top: 60px;
    width: 100%;
    right: 100%;
    z-index: 1;
    right: 0 !important;
  }

  form .form-control {
    width: 100%;
  }
  .form {
    flex-direction: column;
  }
  .footer {
    justify-content: space-around;
    /* margin-top: 46px; */
    padding: 6px 10px;
  }
  .footer-content2 {
    margin-top: -34px;
  }
  .dashbard-container .dashboard img {
    margin-left: 2px;
    padding: 20px;
  }
  .footer li {
    margin: 10px;
  }
  .privacy-header h1 {
    font-size: 20px;
    padding-left: 21px;
  }
  .privacy-header {
    height: 160px;
  }
  .privacy-content .header-content {
    padding: 18px 21px;
  }
  .header-content p {
    font-size: 14px;
    margin-bottom: 0;
  }
  .privacy-content .prsnl-data,
  .subject,
  .cookies {
    padding: 18px 21px;
  }
  .privacy-content .prsnl-data p,
  .subject p,
  .cookies p {
    font-size: 14px;
  }
  .privacy-content .prsnl-data h3,
  .subject h3,
  .cookies h3,
  .privacy-content .header-content h3 {
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  .nav-links {
    display: block;
  }
  .nav-toggle {
    display: none !important;
    left: 0;
  }
  .leads-sec .row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .dashbard-container .dashboard img {
    margin-left: 115px;

    box-shadow: 0px 31.45px 125.8px 0px rgba(0, 0, 0, 0.1);
  }
  .dashboard {
    padding: 40px;
  }
  .nav {
    margin-inline: 60px;
  }
  .nav ul {
    padding-left: 44px;
  }
  form .form-control {
    width: 47%;
  }
  .leads-sec .solution {
    padding: 0 185px;
  }

  .footer .footer-content1,
  .footer-content2 {
    display: flex;
    justify-content: space-between;
    gap: 74px;
    align-items: center;
    margin-top: 10px;
    margin-right: 40px;
  }

  .footer {
    justify-content: center;
  }
}
@media (min-width: 991px) {
  .header-sec {
    background: linear-gradient(180deg, #e9effe, #e9effe3d);
  }
  .nav .login {
    display: block;
  }
  .nav ul {
    align-items: center;
  }
}
